__pycache__/
*.pyc
*.pyo
*.DS_Store
*.out
*.o
*.exe
*.prof
gmon.out
*.log
serial_laplace_cpp
serial_laplace_cpp_pg
omp_laplace_cpp
mpi_laplace_cpp
mpi_krea_decompose
results/solution_csv/*.csv
results/profiles/*.txt
results/profiles/*.prof
*.dSYM/
